{% extends 'base.html.twig' %}


{% block body %}
<h1 class='text-center mb-5 text-primary'> list produits </h1>
<div class="container">
<table class="table table-striped shadow " >
    <thead>
        <tr>
            <td>name</td>
            <td>slug</td>
            <td>description</td>
            <td>prix</td>

        </tr>
    </thead>
    <tbody>
    {% for product in products %}
         <tr>
            <td>{{product.name}}</td>
            <td>{{product.slug}}</td>
            <td>{{product.description}}</td>
            <td>{{product.prix}}</td>

        </tr>
    {% endfor %}
    
    </tbody>
</table>
<div>

{% endblock %}
